/* Set the htnl body to 0 margin, padding */
*{
    margin: 0;
    padding: 0;
    outline: 0; 
    font-family: 'PT Serif', serif;
    border-style: none;
}

/* navbar css */
.navbar{
  display: flex;
  width: 100%;
  height:10vh;
  background-color: #ffffff;
  margin: auto;
  /* justify-content: space-evenly;; */
}

.menu-bar{
    justify-content: space-evenly;
    padding-right: 20px;
}
.logo{
    height: 39px;
    padding-top: 7px;
    object-fit: contain; 
  
}
.mobile-logo{
    display: none;
}

.menu{
    height: 18px;
    padding: 20px;
    font-family: SourceSansPro;
    font-size: 0.9em;
    letter-spacing: 0.6px;
    color: #526173;
}

/* media query for navbar */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
.hamb-menu{
        display: block;
 
}
.mobile-nav{
    display: flex;
    justify-content: space-between;
}
#navLinks{
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    
}

.nav-list{
    display: block;
    background-color: rgb(15, 13, 13);
    color: rgb(119, 114, 114);
}
.logo{
    display: block;
}
.mobile-log{
    display: none;
}
.hamb-menu div{
     width: 35px;
     height: 3px;
     background-color: black;
     margin: 5px 0; 
     transition: 1s
}

.change div:nth-child(1){
    transform: rotate(45deg) translate(3px, 15px);
}

.change div:nth-child(2){
    opacity: 0;
}

.change div:nth-child(3){
    transform: rotate(-45deg) translate(-3px,-10px);
}
.nav-list span{
border-bottom: 1 solid rgb(204, 134, 109);
padding: 2px;
}
}

/* wrapper div css */
.wrapper{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-image: url(./images//tanscorp_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.transcorp{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: -0%;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(67, 67, 67, 0.2));
    color: white;
}
.text-position{
    position: absolute;
    text-align: center;
    width: 60%;
    top: 20%;
    left: 20%;
}
.welcome-to{
  height: 40px;
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4.9px;
  color: #ffffff;
}
.trancorp_hotel{
  height: 89px;
  font-family: Georgia;
  font-size: 52px;
  letter-spacing: 3.1px;
  text-align: center;
  color: #ffffff;
}
.text-position p{
  height: 19px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}
.clip{
    font-size: 52px;
    margin-top: 25px;
}
.clip :hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
/* css styling for cards */
.box{
    width: 60%;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0%;
    left: 19.2222%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(141, 135, 135) 0px 0px 15px 0px;
}

.card-left{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card-right{
  width: 40%;
  height: 150px;
  background-color: #053b58;
  color: #ffffff;
  text-align: center;
}
.card-right p{
    margin-top: 20px;
    height: 10px;
    font-family: SourceSansPro;
    font-size: 14px;
    margin-left: 33px;
  }
  .card-show{
    border-right: 1.5px solid #ebebf2;
    width: 25%;
    padding-left: 15px;
}
.card-left p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #9b9b9b;
}
.card-left span{
    font-size: 42px;
    letter-spacing: 2px;
}
.availability{
  width: 170px;
  height: 48px;
  margin:auto;
  background-color: #ff7200;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 4px;
}
.date{
    display: flex;
    justify-content: space-between;
}
/* media query for wrapper */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .wrapper{
        background-color: #fff;
        height: 60vh;
    }
    .transcorp{
        width: 100%;
        height: 100%;
        position: absolute;
        top: -0%;
        justify-content: space-evenly;
        color: white; 
    }
    .text-position{
        text-align: center;
        width:60%;
    }
    .welcome-to{
        height: 40px;
        font-family: SourceSansPro;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 3.9px;
        color: #ffffff;
    }
    .trancorp_hotel{
        height: 80px;
        font-size: 30px;
        letter-spacing: 2.1px;
    }
    .text-position p{
        height: 19px;
        font-size: 16px;
    }
    .box{
        display: none;
        /* display: flex;
        flex-direction: column; */
    }
    /* /* .card-left{ */
        /* display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
    } */
}

/* Transcorp hotel about us section css */

.about-us{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 170px;
    text-align: center;
    position: relative;
}
.about-us h3{
    text-align: center;
    margin: 30px 30px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4.9px;
    color: #9b9b9b;
}
.about-us h1{
  margin: auto;
  width: 40%;
  height: 100%;
  margin-bottom: 40px;
  font-family: Georgia;
  font-size: 52px;
  letter-spacing: 3.1px;
  color: #000000;
}
.about-us p{
    margin: auto;
    width: 60%;
    height: 40vh;
    margin-bottom: 50px;
    font-family: SourceSansPro;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: center;
    color: #9b9b9b;
}
.transcorp-guest{
    width: 100%;
    margin: auto;
}
.lounge{
    margin: auto;
    width: 70%;
    height: 60vh;
    margin: 30px 30px;
    object-fit: contain;
    position: absolute;
    bottom: 12%;;
    left: 15%;
}
.more{
    background-image: url(./images//aboutus_bg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 50vh;
}

.more h3{
    position: absolute;
    bottom: 3%;;
    left: 43%;
    text-decoration: underline;
    color: #9b9b9b;
    font-weight: bolder;
    font-family: SourceSansPro;
    font-size: 18px;
    letter-spacing: 2.0px;
}
/* media query for About-us div */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .about-us{
        margin-top: 40px;
       
    }
    .about-us h1{
        margin: auto;
        width: 90%;
        height: 100%;
        margin-bottom: 40px;
        font-family: Georgia;
        font-size: 52px;
        letter-spacing: 3.1px;
        color: #000000;
      }
      .about-us p{
        margin: auto;
        width: 95%;
        height: 49vh;
        margin-bottom: 50px;
        font-family: SourceSansPro;
    }
    .lounge{
        width: 80%;
        height: 30vh;
        object-fit: contain;
        position: absolute;
        bottom: 5%;
        left: 1%;
        
    }
    .more{
        background-image: url(./images//aboutus_bg.png);
        background-size: cover;
        background-repeat: no-repeat; 
        height: 30vh;
    }
    
    .more h3{
        position: absolute;
        bottom: 3%;;
        left: 15%;

    }
  }

/* Style for Interior section */
.interior{
    display: flex;
    width: 100%;
    height: 78vh;
}
.interior-details h5{
    padding: 30px;
    height: 18px;
    font-family: SourceSansPro;
    letter-spacing: 4.9px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: bold;
}
.interior h1{
  padding-bottom: 40px;
  height: 41px;
  font-family: Georgia;
  letter-spacing: 2.1px;
  color: #000000;
  font-size: 36px;
}
.interior-details{
    width: 100%;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}
.interior-view{
 width:  100%;
}

.room-view{
  width: 100%;
  height: 80vh;
  object-fit: contain;
}
.room-spec{
    margin-left: 30px;
}

.room-info{
    width: 97%;
    display: flex;
    margin: auto;
    justify-content: space-evenly; 
    margin-bottom: 30px;
}
.room-info2{
    height: 100px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
.room-info3{
    margin-bottom: 15px;
}

.room-desc{
  width: 120px;
  height: 80px;
  object-fit: contain
}
.overflow-control{
    overflow-y: scroll;
    width: 70%;
    margin: auto;
}
/* media query for interior div */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .interior{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 113vh;
    }
    .interior-view{
     width:  100%;
    }
       
    .room-view{
     width: 100%;
     height: 45vh;
     object-fit: contain;
    }
    .overflow-control{
        width: 100%;
    }
    .room-info{
        width: 94%;
    }
  }
  /* css for testimonial section */

.testimonial{
    background-image: url(./images//aboutus_bg.png);
    width: 100%;
    object-fit: cover;
    height: 120vh;
    position: relative;
    /* height: 60vh; */
    position: relative;
}
.testiomial-box{
    width: 63%;
    height: 90vh;
    background-color: #fff;
    box-shadow: #9b9b9b;
    position: absolute;
    top: 15%;
    left: 19.4567%;
}
.testiomial-box h2{
    height: 10vh;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: SourceSansPro;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4.9px;
    color: #9b9b9b;
}
.testiomial-box h1{
  height: 10vh;
  padding-bottom: 30px; 
  font-family: Georgia;
  font-size: 36px;
  letter-spacing: 2.1px;
  text-align: center;
  color: #000000;
}
.testiomial-box p{
  margin: auto;
  width: 70%;
  height: 30vh; 
  font-family: Georgia;
  font-size: 24px;
  font-style: italic;
  line-height: 1.46;
  letter-spacing: 1.4px;
  text-align: center;
  color: #000000;
}
.guest-photo{
    width: 10%;
    margin: auto;
}
.guest-photo span{
  width: 100%;
  height: 22px;
  font-family: SourceSansPro;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
  position: absolute;
  bottom: 18%;
  left: 0;
}
.oval{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.test-scroll{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:rgb(212, 208, 208);
    position: absolute;
    bottom: 10%;
    
}
.test-scroll .fa{
    padding-right: 10px;
}
.test-scroll .orange-fa{
    color: #da751d;
}

/* media query for testimonial div */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
      .testiomial-box{
        width: 80%;
        height: 110vh;
        position: absolute;
        top: 7%;
        left: 11%;
    }
    .testiomial-box h2{
        height: 8vh;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .testiomial-box h1{
        height: 15vh;
      }
    .testiomial-box p{
        margin: auto;
        width: 100%;
        height: 50vh; 
        margin-top: 20px;
    }
    .guest-photo{
        width: 30%;
        margin: auto;
    }
    .guest-photo span{
        width: 50%;
        position: absolute;
        bottom: 9%;
        left: 25%;
    }
    .test-scroll{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: rgb(82, 78, 78);
        position: absolute;
        bottom: 2%; 
        left: 35%;
    }
  }
/* css for Blog div */
.blog{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background-image: url(./images//aboutus_bg.png);
    text-align: center;
}
.blog h1{
  width: 100%;
  height: 20vh;
  margin: auto;
  font-family: Georgia;
  font-size: 36px;
  letter-spacing: 2.1px;
  color: #4a4a4a;
}

.card-flex{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.card-style{

    margin-right: 10px;
}
.hotel-show{
    width: 100%;
    object-fit: cover;
    height: 40vh;
}
.hotel-display{
    width: 100%;
   
}
.blog-details{
    width: 100%;
    background-color: #fff;
    height: 165px;
    padding-top: 20px;
    position: relative;
}
.blog-details span, p{ 
  height: 18px;
  font-family: SourceSansPro;
  font-size: 16px;
  letter-spacing: 0.8px;
  padding-left: 10px;
  text-align: start;
  color: #9b9b9b;
}
.blog-details span{
    display: block;
}
.blog-details p{
    position: absolute;
    left:5%;
    bottom: 0;
}
.blog-details .fa{
    margin-left: 20px;
}
.blog-details a{
    width: 20px;
    height: 45px;
    font-family: Georgia;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    
} 
/* media query for blog div */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .blog{
        height: 200vh;
    }
    .blog h1{
        width: 80%;
        height: 15vh;
      }
      
    .card-flex{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hotel-show{
        width: 100%;
        object-fit: cover;
        height: 225px;
    }
    .blog-details{
        width: 100%;
        background-color: #fff;
        height: 155px;
        padding-top: 20px;
    }
    .card-style{
        width: 90%;
    }
}
/* css for contact div */
.contact{
    display: flex;
    width: 100%;
    height: 93vh;;
}
.map{
    flex: 60%;
}
.map-photo{
    width: 100%;
    object-fit: contain;
}

.contact-us{
    flex: 40%;
    margin: auto;
   
}
.contact-us h1{
    width: 60%;
    margin: auto;
    height: 14vh;
    font-family: Georgia;
    font-size: 36px;
    letter-spacing: 2.1px;
    color: #000000;
}
.contact-us h2{
    width: 60%;
    margin: auto;
    height: 10vh;
    padding-top: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4.9px;
    text-align: justify;
    color: #9b9b9b;
}

.contact-us .naija{
    width: 60%;
    margin: auto;
    height: 10vh;
    font-family: Georgia;
    font-size: 24px;
    letter-spacing: 1.4px;
    color: #d8d8d8;
    text-align: left;
}

.contact-us .call{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    height:5vh;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.8px;
    color: #9b9b9b;
    text-align: left;
}
.naija span{
    color: black;
    font-weight: bold;
}
.contact-us .num{
    width: 65%;
    margin: auto;
    height: 55px;
    font-family: Georgia;
    font-size: 36px;
    letter-spacing: 2.1px;
    color: #000000;
}
.contact-us .address{
    width: 60%;
    margin: auto;
    height: 60px;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.8px;
    color: #9b9b9b;
    text-align: left;
} 

/* media query for contact div */
@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .contact{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    } 
    .contact-us{
        height: 100%;
    } 
    .contact-us .address{
        width: 70%;
    }
    .contact-us h2{
        text-align: center;
        width: 100%;

    }
    .contact-us .call{
        height: 10vh;
        margin-top: 20px;
    }
    .contact-us .call{
        text-align: center;
        margin-top: 30px;
        width: 100%;
        height: 4vh;
    }
    .contact-us .num {
        width: 100%;
        height: 10vh;
        font-size: 25px;
        text-align: center;
    }
}

/* footer div css */
.footer{
    width: 100%;
    background-color: #211f20;
    height: 43vh;
}
.footer-menu{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
ul{
    height: 30vh;
    padding-top: 20px;
}
li{
    list-style: none;
    color:#9b9b9b;
    padding-top: 30px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 18px;
    letter-spacing: 0.4px;
   
}
hr{
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 10px;
    border-style: solid;
}

.signup{
    color: #f5f5f5;
}
.sign-up p{
    color: #9b9b9b;
    font-size: 1.3em;
}
.email{
display: flex;
border-bottom: solid 1px whitesmoke;
margin-top: 30px;
}
.text-input{
    border-style: none;
    margin: 10px 0;
    width: 80%;
    padding: 10px;
    background: #000;
    color: white;  
    font-weight: bolder; 
    font-size: 1.2em;
}
.email .fa{
    font-size: 20px;
    padding-top: 18px;
    margin-left: 10px;
    font-size: bolder;
}
.footer-icons{
    width: 80%;
    right:0;
    color: white;
    position: relative;
    justify-content: space-evenly;
    padding-top: 20px;
}
.socials{
   position: absolute;
   right: 0;
   bottom: 3%;
}
/* media query for footer */

@media screen and 
  (min-width:280px) and
  (max-width:800px){
    .footer{
        width: 100%;
        background-color: #211f20;
        height: 125vh;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto; 
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;
    }
    .footer-nav{
      width: 100%;
      margin: auto;
    }
    ul{
        height: 25vh;
        padding-top: 10px;
    }
    li{
        padding-top: 35px;
       
    }
    .signup{
       margin-top: 60px;
    }
    hr{
        display: none;
    }

}